html,body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

html #home,body #home {
  background-color: inherit;
}

nav {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.graph {
  background: rgb(255, 255, 255);
  /*border-top: 2px solid rgb(88, 88, 88);*/
  height: calc(100vh - 20px);
}

#graph-canvas[resize] {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer !important;
}

.bg-nav {
  background: -webkit-gradient(linear, left bottom, right top, from(#00bf8f), to(#102d58));
  background: linear-gradient(to top right, #00bf8f, #102d58);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.8rem;
  margin-right: 0.1rem;
  background-color: rgba(238, 234, 234, 0.918);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.863);
}

.header_title {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: -10px;
}

.option_header {
  font-size: 80%;
  margin-left: 20px;
}

.option_label {
  cursor: pointer;
}

/*.finder_section {
  border: solid 1px rgb(218, 218, 218);
  border-radius: 5px;
  margin: 5px;
}*/

.sub_options {
  padding: 2px;
  font-size: 14px;
  margin: 2px 30px 0;
  width: 200px;
}

.panel {
  position: fixed;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.918);
  color: rgb(200, 218, 102);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.863);
  width: 300px;
  height:600px;
  overflow: scroll;
  cursor: default;
}

.right_panel {
  margin-right: 20px;
  margin-top: 40px;
}

.radioLeft {
  display: block;
  text-align: left;
}

a {
  color: rgb(44, 54, 85);
}

footer {
  color: #333;
  font-size: 70%;
  text-align: center;
  position: fixed;
  width: 200px;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

#algorithm_panel {
  right: 20px;
  top: 15px;
}

.spinner {
  width: 80%;
}

/*
.dropbtn {
  background-color: white;
  color: cadetblue;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
*/

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(116, 178, 214);
}

.dropbtn {
  border: 2px;
  margin-bottom: 4px;
  border-color: rgb(228, 212, 169);
  background-color: rgba(255, 255, 255, 0.555);
  text-align: center;
}

.dropdown_btn {
  width: 120px;
  margin-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 240px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  align-self: center;
  color: rgb(201, 201, 201);
  background-color: #0e0e0ed0;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}